<!DOCTYPE html>
<html ng-app="srvApp">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="mainCtrl">

    <input type="text" placeholder="Add new quote!" ng-model='newQuoteText'></input>
    <br/>
    <input type="text" placeholder="Quotes author!" ng-model='newQuoteAuthor'></input>
    <button ng-click="addQuote()">Add Quote</button>
    <hr/>
    <div>
      Filter: <input type="text" ng-model='filterText'/>
    </div>
    <p ng-repeat = "quote in quotes | filter: filterText"></p>


    <p ng-repeat = "quote in quotes track by $index">
    <span class = 'text'>{{quote.text}}</span>
    <span class = 'author'> -- {{quote.author}}</span>
    <button ng-click = "deleteMe(quote.text)">Delete</button>
  </p>



  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="ctrl.js"></script>
  <script src="service.js"></script>
  </body>
</html>
